<div ng-controller="LoginCtrl as loginCtrl"  class="container">

    <div class="container">
        <span>Login or Register</span>
        <form novalidate class="simple-form">
            <label>E-mail: <input type="email" ng-model="user.email" /></label><br />
            <label>Password: <input type="password" ng-model="user.password" /></label><br />

            <button ng-click="login()">Login</button>
            <button ng-click="register()">Register</button>

        </form>
        <span>{{errorMessage}}</span>
    </div>


</div>
