<div ng-controller="TestsCtrl as testsCtrl"  class="container">

    <div class="container">
        <div class="categories-container">
            <uib-accordion close-others="oneAtATime" ng-repeat="category in categories">
                <div uib-accordion-group ng-click="getTestsByCategory(category)" class="panel-default" heading="{{category}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <ul class="testList" ng-repeat="test in tests">
                            <li><a ng-href="#!/tests/{{test.id}}">{{test.name}}</a></li>
                    </ul>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
